.too-common{

    width:25px;
	height:25px;
	padding-left: 25px;
	background-image: url('../img/common.png');
	background-position: left center;
	background-repeat: no-repeat;

}
.too-week{

    width:25px;
	height:25px;
	padding-left: 25px;
	background-image: url('../img/week.png');
	background-position: left center;
	background-repeat: no-repeat;
}
.great-pass{

	width:25px;
	height:25px;
	padding-left: 25px;
	background-image: url('../img/great.png');
	background-position: left center;
	background-repeat: no-repeat;
}
.medium-pass{

	width:25px;
	height:25px;
	padding-left: 25px;
	background-image: url('../img/medium.png');
	background-position: left center;
	background-repeat: no-repeat;
}
.key-gen{
	
	width:25px;
	height:25px;
	padding-left: 25px;
	background-image: url('../img/keys.png');
	background-position: left center;
	background-repeat: no-repeat;
        cursor:pointer;
}

